<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kamehouse - LuLu</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar shadow-sm navbar-dark" style="background-color: #6200ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Kamehouse - LuLu</a>
    </div>
</nav>
<div class="container-sm container-md mt-3 bg-body shadow-sm rounded">
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <a href="#" class="btn btn-outline-dark w-100">Home</a>
            <a href="/siglas/criar" class="btn btn-outline-dark w-100 mt-2">Criar sigla</a>
            <a href="/siglas" class="btn btn-outline-dark w-100 mt-2">Listar siglas</a>
            <a href="#" class="btn btn-outline-dark w-100 mt-2">Sobre</a>
            <a href="#" class="btn btn-outline-dark w-100 mt-2">Sair</a>
            <div style="padding-bottom: 1em;"></div>
        </div>
        <div class="col-sm-12 col-md-10">
            <form th:action="@{/siglas/criar}" method="post">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="sigla" id="sigla" placeholder="Sigla">
                    <label for="sigla">Sigla</label>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Significado da sigla" name="significadoDaSigla" id="significadoDaSigla"></textarea>
                    <label for="significadoDaSigla">Significado da sigla</label>
                </div>

                <div class="form-floating mt-3">
                    <select name="tipo" id="tipo" class="form-select" aria-label="Tipo da sigla">
                        <option value="N/A" selected disabled>Selecione um tipo</option>
                        <option value="DOCUMENTO">Documento</option>
                        <option value="SISTEMA">Sistema</option>
                        <option value="TERMO_TECNICO">Termo técnico</option>
                        <option value="BANCARIA">Bancária</option>
                        <option value="GOVERNO">Governo</option>
                        <option value="AUTOMOTIVA">Automotiva</option>
                        <option value="PESSOAL">Pessoal</option>
                    </select>
                    <label for="tipo">Tipo da sigla</label>
                </div>

                <div class="mt-3" style="text-align: end">
                    <button type="submit" class="btn btn-lg btn-outline-primary">Gravar nova sigla</button>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>

<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/all.min.js}"></script>
<script>
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>