<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kamehouse - LuLu</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/all.min.css}" />
</head>
<body>
<nav class="navbar shadow-sm navbar-dark" style="background-color: #6200ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Kamehouse - LuLu</a>
    </div>
</nav>
<div class="container-sm container-md mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <a href="#" class="btn btn-outline-dark w-100">Home</a>
            <a href="/siglas/criar" class="btn btn-outline-dark w-100 mt-2">Criar sigla</a>
            <a href="/siglas" class="btn btn-outline-dark w-100 mt-2">Listar siglas</a>
            <a href="#" class="btn btn-outline-dark w-100 mt-2">Sobre</a>
            <a href="#" class="btn btn-outline-dark w-100 mt-2">Sair</a>
        </div>
        <div class="col-sm-12 col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Tabela</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Card</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <th></th>
                            <th>ID</th>
                            <th>SIGLA</th>
                            <th>TIPO</th>
                            <th>SIGNIFICADO</th>
                            </thead>
                            <tbody th:each="sigla : ${siglas}">
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhes do registro" type="button" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></button>
                                        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Editar este registro" type="button" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Remover este registro" type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </td>
                                <td th:text="${sigla.id}"></td>
                                <td th:text="${sigla.sigla}"></td>
                                <td th:text="${sigla.tipo}"></td>
                                <td th:text="${sigla.significadoDaSigla}"></td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-4" th:each="sigla : ${siglas}">
                            <div class="card border-dark mb-3" style="min-height: 15rem;">
                                <div class="card-header" th:text="${'Sigla: '+sigla.sigla}"></div>
                                <div class="card-body">
                                    <div style="text-align: end"><span class="badge text-bg-warning" th:text="${'Tipo: '+sigla.tipo}"></span></div>
                                    <hr />
                                    <p class="card-text" th:text="${'Significado: '+sigla.significadoDaSigla}"></p>
                                </div>
                                <div class="card-footer bg-transparent border-success" style="text-align: end">
                                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhes do registro" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></button>
                                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar este registro" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Remover este registro" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/all.min.js}"></script>
<script>
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>