<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>LuLu | Medication Control</title>
    <link href="webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/fortawesome__fontawesome-free/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="../css/lulu.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../favicon.ico" />
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: mediumpurple;">
    <div class="container-fluid">
        <a class="navbar-brand app-logo" href="#">
            <img src="../images/logo.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
            LuLu App
        </a>
    </div>
</nav>

<div class="container" id="app">
    <div class="input-group mb-3 mt-3">
        <button v-on:click="setMedicationToCreate" class="btn btn-outline-primary" type="button" id="button-create" data-bs-toggle="modal" href="#modalCreateMedication" role="button">Adicionar Medicação</button>
        <input type="text" class="form-control" placeholder="Buscar medicação..." aria-label="Medicação para buscar" aria-describedby="Botão para buscar medicação">
        <button class="btn btn-outline-secondary" type="button" id="button-search">Buscar</button>
    </div>

    <div class="card">
        <div class="card-body">
            <button v-on:click="recoverMedications" type="button" class="btn btn-sm btn-outline-info"><i class="fas fa-sync"></i> Recarregar</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="medication in medications">
                <td>
                    <div class="btn-group" role="group" aria-label="Ações a serem tomadas para cada medicação">
                        <button v-on:click="selectMedication(medication)" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#modalDetailsMedication" role="button"><i class="fas fa-info-circle"></i></button>
                        <button v-on:click="selectMedication(medication)" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#modalEditMedication" role="button"><i class="fas fa-pen"></i></button>
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-shopping-cart"></i></button>
                    </div>
                </td>
                <td><div class="mt-2 mb-2">{{medication.commercialName}}</div></td>
                <td><div class="mt-2 mb-2">{{medication.stock}}</div></td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modalCreateMedication" ref="modalCreateMedication" aria-hidden="true" aria-labelledby="modalCreateMedication" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar nova medicação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="commercialName" class="form-label">Nome comercial</label>
                            <input v-model="medication.commercialName" type="text" class="form-control" id="commercialName" placeholder="Nome da medicação">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="function" class="form-label">Função</label>
                            <textarea v-model="medication.function" class="form-control" id="function" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="actionMechanism" class="form-label">Mecanismo de ação</label>
                            <textarea v-model="medication.actionMechanism" class="form-control" id="actionMechanism" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="recommendation" class="form-label">Indicado para</label>
                            <textarea v-model="medication.recommendation" class="form-control" id="recommendation" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="againstIndication" class="form-label">Contra indicações</label>
                            <textarea v-model="medication.againstIndication" class="form-control" id="againstIndication" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="reference" class="form-label">Referências</label>
                            <textarea v-model="medication.reference" class="form-control" id="reference" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="status" class="form-label">Status</label>
                            <select v-model="medication.status" class="form-select" id="status" aria-label="Selecionar status da medicação">
                                <option selected>Selecione o status desta medicação</option>
                                <option value="IN_STOCK">Em estoque</option>
                                <option value="OUT_STOCK">Sem estoque</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="stock" class="form-label">Estoque</label>
                            <input v-model="medication.stock" type="number" min="0" class="form-control" id="stock" value="0" placeholder="55">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <button v-on:click="performSaveMedication()" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEditMedication" aria-hidden="true" aria-labelledby="modalEditMedication" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alterar medicação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="commercialName" class="form-label">Nome comercial</label>
                            <input v-model="medication.commercialName" type="text" class="form-control" placeholder="Nome da medicação">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="function" class="form-label">Função</label>
                            <textarea v-model="medication.function" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="actionMechanism" class="form-label">Mecanismo de ação</label>
                            <textarea v-model="medication.actionMechanism" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="recommendation" class="form-label">Indicado para</label>
                            <textarea v-model="medication.recommendation" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="againstIndication" class="form-label">Contra indicações</label>
                            <textarea v-model="medication.againstIndication" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="reference" class="form-label">Referências</label>
                            <textarea v-model="medication.reference" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="status" class="form-label">Status</label>
                            <select v-model="medication.status" class="form-select" aria-label="Selecionar status da medicação">
                                <option selected>Selecione o status desta medicação</option>
                                <option value="IN_STOCK">Em estoque</option>
                                <option value="OUT_STOCK">Sem estoque</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="stock" class="form-label">Estoque</label>
                            <input v-model="medication.stock" type="number" min="0" class="form-control" value="0" placeholder="55">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button v-on:click="performSaveMedication" class="btn btn-success" data-bs-dismiss="modal">Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDetailsMedication" aria-hidden="true" aria-labelledby="modalDetailsMedication" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalhes da medicação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="h2 text-center">{{ medication.commercialName }}</p>
                    <hr />
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Função
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{medication.function}}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Mecanismo de ação
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{medication.actionMechanism}}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Recomendações
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{medication.recommendation}}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingContraIndicacao">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contraIndicacao" aria-expanded="false" aria-controls="contraIndicacao">
                                    Contra Indicações
                                </button>
                            </h2>
                            <div id="contraIndicacao" class="accordion-collapse collapse" aria-labelledby="contraIndicacao" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{medication.againstIndication}}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingReferencias">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#referencias" aria-expanded="false" aria-controls="contraIndicacao">
                                    Referências
                                </button>
                            </h2>
                            <div id="referencias" class="accordion-collapse collapse" aria-labelledby="referencias" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{medication.reference}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="snackbar" style="z-index: 10000">{{ snackbarMsg }}</div>
</div>

<script src="webjars/bootstrap/5.0.0-beta3/js/bootstrap.min.js"></script>
<script src="webjars/vue/2.6.12/vue.min.js"></script>
<script src="webjars/axios/0.21.1/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            loading: false,
            snackbarMsg: '',
            medications: [],
            medication: {
                id: null,
                commercialName: '',
                function: '',
                actionMechanism: '',
                recommendation: '',
                againstIndication: '',
                reference: '',
                status: '',
                stock: 0,
            },
            user: {}
        },
        mounted: function () {
            this.recoverMedications();
        },
        methods: {
            async performSaveMedication() {
                const config = {
                    headers: {'content-type': 'application/json'}
                };
                if(this.medication.commercialName === undefined || this.medication.commercialName.length < 1){
                    this.snackbarMsg = 'Informe o nome comercial!';
                    this.showSnackbar();
                    return;
                }else if(this.medication.function === undefined || this.medication.function.length < 1){
                    this.snackbarMsg = 'Informe a função!';
                    this.showSnackbar();
                    return;
                }else if(this.medication.actionMechanism === undefined || this.medication.function.actionMechanism < 1){
                    this.snackbarMsg = 'Informe o mecanismo de ação!';
                    this.showSnackbar();
                    return;
                }else if(this.medication.recommendation === undefined || this.medication.recommendation.length < 1){
                    this.snackbarMsg = 'Informe as recomendações!';
                    this.showSnackbar();
                    return;
                }else if(this.medication.againstIndication === undefined || this.medication.function.againstIndication < 1){
                    this.snackbarMsg = 'Informe a(s) contra indicações!';
                    this.showSnackbar();
                    return;
                }else if(this.medication.reference === undefined || this.medication.function.reference < 1){
                    this.snackbarMsg = 'Informe as referencias!';
                    this.showSnackbar();
                    return;
                }
                await axios
                    .post('/v1/api/medications', JSON.stringify(this.medication), config)
                    .then(response => {
                        this.snackbarMsg = response.data.message;
                        this.showSnackbar();
                    })
                    .catch(error => {
                        console.log(error)
                    })
                    .finally(() => {
                        this.loading = false;
                        this.recoverMedications();
                    })
            },
            async recoverMedications() {
                const config = {
                    headers: {'content-type': 'application/json'}
                }
                await axios
                    .get('/v1/api/medications', config)
                    .then(response => {
                        this.medications = response.data.details;
                        // this.snackbarMsg = 'Medicações carregadas com sucesso!';
                        // this.showSnackbar();
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            },
            setMedicationToCreate(){
                this.medication = {};
            },
            selectMedication(medication){
              this.medication = medication;
            },
            showSnackbar() {
                // Get the snackbar DIV
                var x = document.getElementById("snackbar");

                // Add the "show" class to DIV
                x.className = "show";

                // After 3 seconds, remove the show class from DIV
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }
        }
    })
</script>
</body>
</html>
